.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 50px;
}

.info {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 64px;
}

p {
  font-size: 30px;
}

.pic {
  width: 300px;
  height: 300px;
  display: flex;
  align-content: center;
  border-radius: 50%;
  border-style: solid;
}

.profile-pic {
  width: 200px;
  height: 200px;
  margin: auto;
}
