nav {
  height: 100px;
  width: 100%;
  background-color: #734c30;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 45px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
}
